h1{
    color: aqua;
    text-align: center;
}
h2{
    text-align: center;
}
body{
    background-color: gray;
}
div{
    color: rgb(14, 250, 14);
   text-align: center;
   display: block;
}
li{
    text-align: center;
    border: 3px solid black;
    margin: 20px;
}
img{
    width: 450px;
    height: 350px;
}
span{
    color: blue;
    display: inline;
    font-weight: bolder;
}
a:link{
    background-color: blueviolet;
    padding: 2px;
}
a:hover{
    background-color: red;
    padding: 2px;
}