h1{
    color: aqua;
    text-align: left;
}
h2{
    text-align: center;
}
body{
    background-color: whitesmoke;
}
div{
    color: rgb(33, 34, 33);
   text-align: center;
   display: block;
}
li{
    text-align: center;
    border: 3px solid black;
    margin: 25px;
}
img{
    width: 450px;
    height: 350px;
}
span{
    color:orangered;
    display: inline;
    font-weight: bolder;
}
a:link{
    background-color: red;
}
a:hover{
    background-color: royalblue;
    padding: 2px;
}
.main{
    flex-direction: column;
}
.left{
    text-align: left;
}
.center{
    text-align: center;

}
.right{
    text-align: right;
}